.header {
    list-style: none;
    margin: 0;
    background: #f67b00;
    display: flex;
    /*flex-flow: row wrap;*/
  /*  justify-content: left;*/
}

.header a{
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #000000;
}

.header a:link
{
    text-decoration: none;
}

.header a:hover{
    color: #f5b043;
}

.header a:nth-child(4){
    justify-content: right;
}

.a aktual{
    color: pink;
}

.header:first-child{
    position: sticky;
    top: 0;
}

.footer {
    list-style: none;

    background: #ffce6f;
    text-align: center;
    padding: 0.5em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer a{
    text-decoration: none;
    padding: 0.5em;
    color: #000000;

}

.rightHeader {
    margin-left: auto;
}

@media all and (max-width: 800px) {
    .header {
        justify-content: space-around;
    }
}

@media all and (max-width: 800px) {
    .header {
        flex-flow: column wrap;
        padding: 0;
    }

    .header a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .header li:last-of-type a {
        border-bottom: none;
    }
    .rightHeader {
        margin: auto;
    }

}