body {
    margin: 0;
    background-color: #ffefd5;
}

.header {
    height: 50px;
    width: 100%;
    background: #fadab9;
    display: flex;
}

.header a{
    text-align: center;
    padding: 15px 15px 15px 15px;
    text-transform: uppercase;
    color: black;
    margin-left: 2%;
}

.header a:link
{
    text-decoration: none;
}

.header a:hover{
    color: #f5b043;
}

.header a:nth-child(4){
    margin-left: 66%;
}

.a aktual{
    color: pink;
}

.header:first-child{
    position: sticky;
    top: 0;
}

.columns {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

.main {

    background: #ffffff;
    width: 66%;
    margin-left: 7%;
    text-align: center;
    padding: 15px 15px;

}



.aboutme {
    width: 15%;
    background: #ffffff;
    margin-left: 5%;
    margin-right: 7%;
    padding: 5px 5px 5px 5px;
}

.aboutme img{

    width: 95%;
}

.aboutme p{
    text-align: center;
}

.footer {
    height: 50px;
    background: #ffce6f;
    text-align: center;
    padding-top: 15px;
}

h2, h3{
    text-align: center;

}

p{
    text-align: left;
}